*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Playwrite NZ Basic", cursive;
}
/* Navbar */
.navbar{
    background-color: #6891af;
    padding: 20px;  
    color: white;
}
/* Container */
.container{
    margin: 1px;
}
/* Todo box */
.bx1{
    padding: 15px;
    width: 350px;
    background-color: #dfeded;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    margin: 2%;
}
.bx1 button{
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}
/* Add button */
.add-btn{
    background-color: #6891af;
    color: white;
    border: none;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px 20px;
    font-size: 20px;
    cursor: pointer;

}
/* Overlay background */
.popup-overlay{
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}
/* Popup box centered */
.overlay-box{
    background-color: #dfeded;
     border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 320px;
    padding: 30px;
    display: none;
    transform: translate(-50%, -50%);
}
/* Input fields */
.overlay-box input,
.overlay-box textarea{
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    border-radius: 6px;
    border: none;
}
/* Button group aligned right */
.button-group{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 15px;
}
.button-group button{
    padding: 6px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
