*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Poppins", sans-serif;
}
/*body*/
body{
    height: 100vh;          
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;    
    background: linear-gradient(55deg,#8598b0,#636474);
}
/* main container*/
.mainbx{
    margin:60% ;
    padding: 30px;
    border-radius: 16px;
    background: transparent;
    box-shadow:0px 0px 20px rgba(216, 246, 83, 0.966);
}
/*input box*/
input{
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    margin: 10px;
    font-size: 50px;
    text-align: right;
    background: transparent;
    color: white;
    /* box-shadow: 0px 3px 13px rgbs(84,84,84,0.1); */
}
/*input placeholder*/
input::placeholder{
    color: azure;
}
/*inner containers(5div)*/
.line1, .line2, .line3, .line4, .line5{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
/*all buttons*/
button{
    border: none;
    border-radius: 50%;
    padding: 7px;
    margin: 4px;
    background: transparent;
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    width: 60px;
    height: 60px;
   box-shadow: -8px -8px 15px rgba(255,255,255,0.1);
}
/* arithmetic operators*/
.operator{
    color: chartreuse;
}
/*result button*/
.equbtm{
    background-color: rgb(29, 181, 49);
    color: white;
}
/*result button:hover*/
.equbtm:hover{
    background-color: rgb(159, 225, 176);
    color: white;

}
