*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/*body*/
body{
    transition: 0.3s ease;
}

/*container*/
.mainbx{
    height: 100vh;
    width: 100%;
    background-color: rgb(235, 235, 229);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}

/*password input*/
input{
    padding: 16px;
    border-radius: 12px;
    outline: none;
    background: transparent;
    border: 2px solid rgb(92, 88, 88);
    /* color: rgb(154, 19, 19); */
}

/*password p-tag*/
#message{
    display: none;
    font-size: x-small;
    margin-top: 7px;
    color: aliceblue;
}

/*navbar*/
nav{
    display: flex;
    justify-content: space-between;
    padding: 12px;
    background-color: rgb(202, 195, 185);
}

/*dark-mode theme button*/
nav button{
    background-color: transparent;
    border: none;
    cursor:pointer;
}

/*container*/
.dark-mode .mainbx{
    background-color: #111;
}

/*password color in default*/
.dark-mode #password {
    color: white;
}

